In [1]:
import py2neo
import pandas as pd

In [2]:
graph = py2neo.Graph('localhost:7687'
                     , user='neo4j'
                     , password='test123'
                     , encrypted=False)

In [9]:
data = graph.run('MATCH (p:Person) RETURN p.born, p.name').data()

In [10]:
df = pd.DataFrame(data)

In [12]:
df.head()

   p.born              p.name
0  1964.0        Keanu Reeves
1  1967.0    Carrie-Anne Moss
2  1961.0  Laurence Fishburne
3  1960.0        Hugo Weaving
4  1967.0     Lilly Wachowski